h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.Orange-color{
    color:orange;
}
.Flexible-Container{
    display: flex;
    margin-bottom: 150px;
}
.div-class{
    width:50%;
    padding-left: 2%;
}
.div-class img{
    width:100%;
    border-radius: 10%;
}
.link-decor{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5%;
    font-weight: 700;
}
.top-border{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.div-class{
    width:50%;
    padding-left: 2%;

}
.div-class img{
    width:100%;
    border-radius: 10%;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2%;

}
.Experience-Area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.Experience-Item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}
#Full-Stack{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;

}

#Junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}